    GLOBAL_SETTINGS
    LAB_MASTER_SEED voteforpedro_student_master_seed
    REGISTRY haidx
NETWORK SOME_NETWORK
     MASK 172.20.0.0/24
     GATEWAY 172.20.0.1
CONTAINER client
     USER ubuntu
     X11 YES
     SOME_NETWORK 172.20.0.10
CONTAINER server
     USER ubuntu
     X11 YES
     SOME_NETWORK 172.20.0.20
